/* ============================================================================
	Vars
============================================================================ */
$primary-color: #ffffff;
$secondary-color: #000000;
$third-color: #00ab4a;

// Select 2
$form-font-size: 16px;
$form-border-radius: 5px;
